rewrite ^/aguascalientes.html$ /canada-mexico.html permanent;
rewrite ^/alabama.html$ /south.html permanent;
rewrite ^/alaska.html$ /northwest.html permanent;
rewrite ^/alberta.html$ /canada-mexico.html permanent;
rewrite ^/albuquerque.html$ /west.html permanent;
rewrite ^/anaheim-pos-supplies.html$ /west.html permanent;
rewrite ^/arizona.html$ /west.html permanent;
rewrite ^/arkansas.html$ /south.html permanent;
rewrite ^/arlington.html$ /south.html permanent;
rewrite ^/atlanta.html$ /south.html permanent;
rewrite ^/austin.html$ /south.html permanent;
rewrite ^/baja-california.html$ /canada-mexico.html permanent;
rewrite ^/baja-california-sur.html$ /canada-mexico.html permanent;
rewrite ^/bakersfield.html$ /west.html permanent;
rewrite ^/baltimore.html$ /east-coast.html permanent;
rewrite ^/bay-area-pos-supplies.html$ /west.html permanent;
rewrite ^/boston.html$ /east-coast.html permanent;
rewrite ^/british-columbia.html$ /canada-mexico.html permanent;
rewrite ^/california.html$ /west.html permanent;
rewrite ^/campeche.html$ /canada-mexico.html permanent;
rewrite ^/charlotte.html$ /south.html permanent;
rewrite ^/chiapas.html$ /canada-mexico.html permanent;
rewrite ^/chicago.html$ /midwest.html permanent;
rewrite ^/chihuahua.html$ /canada-mexico.html permanent;
rewrite ^/ciudad-de-mexico.html$ /canada-mexico.html permanent;
rewrite ^/coahuila.html$ /canada-mexico.html permanent;
rewrite ^/colima.html$ /canada-mexico.html permanent;
rewrite ^/colorado.html$ /west.html permanent;
rewrite ^/colorado-springs.html$ /west.html permanent;
rewrite ^/columbus.html$ /midwest.html permanent;
rewrite ^/connecticut.html$ /east-coast.html permanent;
rewrite ^/dallas.html$ /south.html permanent;
rewrite ^/delaware.html$ /east-coast.html permanent;
rewrite ^/denver.html$ /west.html permanent;
rewrite ^/detroit.html$ /midwest.html permanent;
rewrite ^/durango.html$ /canada-mexico.html permanent;
rewrite ^/el-paso.html$ /south.html permanent;
rewrite ^/florida.html$ /south.html permanent;
rewrite ^/fort-worth.html$ /south.html permanent;
rewrite ^/fresno.html$ /west.html permanent;
rewrite ^/georgia.html$ /south.html permanent;
rewrite ^/guanajuato.html$ /canada-mexico.html permanent;
rewrite ^/guerrero.html$ /canada-mexico.html permanent;
rewrite ^/hawaii.html$ /west.html permanent;
rewrite ^/hidalgo.html$ /canada-mexico.html permanent;
rewrite ^/houston.html$ /south.html permanent;
rewrite ^/idaho.html$ /northwest.html permanent;
rewrite ^/illinois.html$ /midwest.html permanent;
rewrite ^/indiana.html$ /midwest.html permanent;
rewrite ^/indianapolis.html$ /midwest.html permanent;
rewrite ^/iowa.html$ /midwest.html permanent;
rewrite ^/jacksonville.html$ /south.html permanent;
rewrite ^/jalisco.html$ /canada-mexico.html permanent;
rewrite ^/kansas.html$ /midwest.html permanent;
rewrite ^/kentucky.html$ /south.html permanent;
rewrite ^/las-vegas.html$ /west.html permanent;
rewrite ^/long-beach-pos-supplies.html$ /west.html permanent;
rewrite ^/los-angeles.html$ /west.html permanent;
rewrite ^/louisiana.html$ /south.html permanent;
rewrite ^/louisville.html$ /south.html permanent;
rewrite ^/maine.html$ /east-coast.html permanent;
rewrite ^/manitoba.html$ /canada-mexico.html permanent;
rewrite ^/maryland.html$ /east-coast.html permanent;
rewrite ^/massachusetts.html$ /east-coast.html permanent;
rewrite ^/mesa.html$ /west.html permanent;
rewrite ^/miami.html$ /south.html permanent;
rewrite ^/michigan.html$ /midwest.html permanent;
rewrite ^/michoacan.html$ /canada-mexico.html permanent;
rewrite ^/milwaukee.html$ /midwest.html permanent;
rewrite ^/minneapolis.html$ /midwest.html permanent;
rewrite ^/minnesota.html$ /midwest.html permanent;
rewrite ^/mississippi.html$ /south.html permanent;
rewrite ^/missouri.html$ /midwest.html permanent;
rewrite ^/montana.html$ /northwest.html permanent;
rewrite ^/morelos.html$ /canada-mexico.html permanent;
rewrite ^/nashville.html$ /south.html permanent;
rewrite ^/nayarit.html$ /canada-mexico.html permanent;
rewrite ^/nebraska.html$ /midwest.html permanent;
rewrite ^/nevada.html$ /west.html permanent;
rewrite ^/new-brunswick.html$ /canada-mexico.html permanent;
rewrite ^/new-hampshire.html$ /east-coast.html permanent;
rewrite ^/new-jersey.html$ /east-coast.html permanent;
rewrite ^/new-mexico.html$ /west.html permanent;
rewrite ^/new-orleans.html$ /south.html permanent;
rewrite ^/new-york.html$ /east-coast.html permanent;
rewrite ^/new-york-city.html$ /east-coast.html permanent;
rewrite ^/newfoundland-labrador.html$ /canada-mexico.html permanent;
rewrite ^/north-carolina.html$ /south.html permanent;
rewrite ^/north-dakota.html$ /midwest.html permanent;
rewrite ^/northwest-territories.html$ /canada-mexico.html permanent;
rewrite ^/nova-scotia.html$ /canada-mexico.html permanent;
rewrite ^/nuevo-leon.html$ /canada-mexico.html permanent;
rewrite ^/nunavut.html$ /canada-mexico.html permanent;
rewrite ^/oakland.html$ /west.html permanent;
rewrite ^/oakland-pos-supplies.html$ /west.html permanent;
rewrite ^/oaxaca.html$ /canada-mexico.html permanent;
rewrite ^/ohio.html$ /midwest.html permanent;
rewrite ^/oklahoma.html$ /south.html permanent;
rewrite ^/oklahoma-city.html$ /south.html permanent;
rewrite ^/omaha.html$ /midwest.html permanent;
rewrite ^/ontario.html$ /canada-mexico.html permanent;
rewrite ^/oregon.html$ /northwest.html permanent;
rewrite ^/pennsylvania.html$ /east-coast.html permanent;
rewrite ^/philadelphia.html$ /east-coast.html permanent;
rewrite ^/phoenix.html$ /west.html permanent;
rewrite ^/portland.html$ /northwest.html permanent;
rewrite ^/prince-edward-island.html$ /canada-mexico.html permanent;
rewrite ^/puebla.html$ /canada-mexico.html permanent;
rewrite ^/quebec.html$ /canada-mexico.html permanent;
rewrite ^/queretaro.html$ /canada-mexico.html permanent;
rewrite ^/quintana-roo.html$ /canada-mexico.html permanent;
rewrite ^/raleigh.html$ /south.html permanent;
rewrite ^/rhode-island.html$ /east-coast.html permanent;
rewrite ^/sacramento.html$ /west.html permanent;
rewrite ^/san-antonio.html$ /south.html permanent;
rewrite ^/san-diego.html$ /west.html permanent;
rewrite ^/san-francisco.html$ /west.html permanent;
rewrite ^/san-jose.html$ /west.html permanent;
rewrite ^/san-jose-pos-supplies.html$ /west.html permanent;
rewrite ^/saskatchewan.html$ /canada-mexico.html permanent;
rewrite ^/seattle.html$ /northwest.html permanent;
rewrite ^/sinaloa.html$ /canada-mexico.html permanent;
rewrite ^/sonora.html$ /canada-mexico.html permanent;
rewrite ^/south-carolina.html$ /south.html permanent;
rewrite ^/south-dakota.html$ /midwest.html permanent;
rewrite ^/tabasco.html$ /canada-mexico.html permanent;
rewrite ^/tamaulipas.html$ /canada-mexico.html permanent;
rewrite ^/tennessee.html$ /south.html permanent;
rewrite ^/texas.html$ /south.html permanent;
rewrite ^/tlaxcala.html$ /canada-mexico.html permanent;
rewrite ^/tucson.html$ /west.html permanent;
rewrite ^/tulsa.html$ /south.html permanent;
rewrite ^/utah.html$ /west.html permanent;
rewrite ^/veracruz.html$ /canada-mexico.html permanent;
rewrite ^/vermont.html$ /east-coast.html permanent;
rewrite ^/virginia.html$ /south.html permanent;
rewrite ^/virginia-beach.html$ /south.html permanent;
rewrite ^/washington.html$ /northwest.html permanent;
rewrite ^/washington-dc.html$ /east-coast.html permanent;
rewrite ^/west-virginia.html$ /south.html permanent;
rewrite ^/wichita.html$ /midwest.html permanent;
rewrite ^/wisconsin.html$ /midwest.html permanent;
rewrite ^/wyoming.html$ /northwest.html permanent;
rewrite ^/yucatan.html$ /canada-mexico.html permanent;
rewrite ^/yukon.html$ /canada-mexico.html permanent;
rewrite ^/zacatecas.html$ /canada-mexico.html permanent;
